django~=5.2.0

# REST API
djangorestframework==3.16.0
django-filter==25.1
drf-spectacular==0.28.0

# Authentication
djangorestframework-simplejwt==5.5.0

# CORS
django-cors-headers==4.7.0

# Database
psycopg[binary]==3.2.9

# Environment
python-decouple==3.8

# Media & Storage
Pillow==11.3.0
django-storages==1.14.6
boto3==1.39.4

# Cache & Queue
redis==6.2.0
celery==5.5.3
django-celery-beat==2.8.1
django-celery-results==2.6.0

# WebSockets
channels==4.2.2
channels-redis==4.3.0
daphne==4.2.1

# HTTP
requests==2.32.4

# Production
gunicorn==23.0.0
whitenoise==6.9.0

# Development
django-extensions==4.1